<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <div class="head-text">
            <div class="head-logo">
              <i class="fa fa-smile-o"></i>
            </div>
              <strong>Joseph</strong>Verrastro
          </div>
        <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to about_path, class: 'navbar-brand' do %></li>
              <div class="menu-text">
                About
              </div>
            <% end %>
            <li><%= link_to hobbies_path, class: 'navbar-brand' do %></li>
              <div class="menu-text">
                Hobbies & Interests
              </div>
            <% end %>
            <li><%= link_to new_contact_path, class: 'navbar-brand' do %></li>
              <div class="menu-text">
                Contact
              </div>
            <% end %>
            <li><a href="https://www.linkedin.com/in/josephverrastro", class: 'navbar-brand', target="_blank">
                    <div class="linked-text">
                      <i class="fa fa-linkedin"></i> LinkedIn
                    </div>
                  </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>
</div>

<footer>
  <div class="container text-center ">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to about_path do %>About<%end%></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to hobbies_path do %>Hobbies & Interests<%end%></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to new_contact_path do %>Contact<%end%></li>
          </ul>
          </div>
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="https://www.linkedin.com/in/josephverrastro" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/">© 2015 Joseph Verrastro</a></li>
          </ul>
        </div>
      </div>
    </div>
    
</footer>
</body>
</html>
