<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <div class="head-text">
          <div class="head-logo">
            <i class="fa fa-smile-o"></i>
          </div>
            <strong>Joseph</strong>Verrastro
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts/new">Contact</a></li> 
        <li>
          <a href="https://www.linkedin.com/in/josephverrastro", class: 'navbar-brand', target="_blank">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>
</div>

<footer>
  <div class="container text-center ">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to about_path do %>About<%end%></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to new_contact_path do %>Contact<%end%></li>
          </ul>
          </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="https://www.linkedin.com/in/josephverrastro" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/">Joseph Verrastro</a></li>
          </ul>
        </div>
      </div>
    </div>
    

</footer>
</body>
</html>
