<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <div class="head-text">
          <div class="head-logo">
            <i class="fa fa-smile-o"></i>
          </div>
            <strong>Joseph</strong>Verrastro
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active" id="nav-color"><a href="/">Home</a></li>
        <li id="nav-color"><a href="/about">About</a></li>
        <li id="nav-color"><a href="/hobbies">Hobbies & Interests</a></li>
        <li id="nav-color"><a href="/contacts/new">Contact</a></li> 
        <li id="nav-color">
          <a href="https://www.linkedin.com/in/josephverrastro", class: 'navbar-brand', target="_blank">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<header id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
      <div class="item active">
        <%= link_to about_path do %>
          <div class="fill" style="background-image:url('http://goo.gl/STBEQz');" alt="my pic"></div>
          <div class="carousel-caption">
              <h2 id="caption-h2">WELCOME TO MY SITE!</h2>
          </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to hobbies_path do %>
          <div class="fill" style="background-image:url('http://goo.gl/oEeizQ');" alt="cricket"></div>
          <div class="carousel-caption">
              <h2 id="caption-h2">Check out my Hobbies, Interests and LinkedIn Profile!</h2>
          </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to new_contact_path do %>
          <div class="fill" style="background-image:url('http://goo.gl/DWVOfc');" alt="leaves"></div>
          <div class="carousel-caption">
              <h2 id="caption-h2">Contact me if you're interested!</h2>
          </div>
        <% end %>
      </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
  </a>
  
  <script>
  $('.carousel').carousel({
      interval: 7000
  })
  </script>

</header>
</body>
</html>